# macOS 系統產生的垃圾檔
.DS_Store
.AppleDouble
.LSOverride

# Python 編譯 & 暫存檔
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environment
env/
venv/
.venv/

# VSCode settings
.vscode/

# pip log 檔
pip-log.txt
pip-delete-this-directory.txt

# pytest cache
.pytest_cache/

# mypy type_check
.mypy_cache/

# coverage tools
.coverage
htmlcov/
coverage.xml
*.cover

# build results
build/
dist/
*.egg-info/

# Jupyter Notebook generated .nbconvert folder
__converted__/

# log or debug files
*.log
*.tmp
*.bak
