# ignore large file
/data/rosbag_logs
*.bag

**/*.db3
**/*.mcap
**/metadata.yaml
**/metadata.yml

# macOS system un related files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# ROS 2 build artifacts
build/
install/
log/

# ROS 2 colcon artifacts
.colcon/
*.pyc
__pycache__/

# Python edit and tmp
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environment
env/
venv/
.venv/

# VSCode settings
.vscode/

# pip log files
pip-log.txt
pip-delete-this-directory.txt

# pytest cache
.pytest_cache/

# mypy type_check
.mypy_cache/

# coverage tools
.coverage
htmlcov/
coverage.xml
*.cover

# build results
build/
dist/
*.egg-info/

# Jupyter Notebook generated .nbconvert folder
__converted__/

# log or debug files
*.log
*.tmp
*.bak
*.swp
*.csv